
/* MEDIA QUERIES */
@media (max-width:350px){
    body.main{font-size:6pt!important;}

    div.logo{ margin-top:20px!important; }

    div.content-logo{margin-top:200px!important; }

    li.header-menu{display:list-item!important; 
		   margin-left: -30px!important; }

    li.header-separator{display:none!important;	}

    div.content{width:90%!important;}

    h1{ font-size:2em!important;}

    p.en, p.pt {text-align: left!important;}

    img.content-logo { width: 200px!important; }

    nav ul {  list-style-type: none!important; }

    iframe { max-width: 100%; }
}


@media (min-width:350px) and (max-width:980px){

    div.content-logo{margin-top:300px!important; }

    li.header-menu{display:list-item!important; 
		   margin-left: -30px!important;
		  }

    li.header-separator{display:none!important;	}

    div.content{width:90%!important;}

    h1{ font-size:2em!important;}

    p.en, p.pt {text-align: left!important;}

    body.main{font-size:8pt!important;}

    img.content-logo { width: 300px!important; }

    nav ul {  list-style-type: none!important; }

    iframe { max-width: 100%; }
}

/* FONTS */

@font-face{
    font-family: RicassoRegular;
    src: url('../static/fonts/Ricasso-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Aller';
    src: url('../static/fonts/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Aller';
    src: url('../static/fonts/Aller_Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Aller';
    src: url('../static/fonts/Aller_BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face{
    font-family: 'Aller';
    src: url('../static/fonts/Aller_It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}








/* main & general elements */

body.main{
    background-color: #efeeee;
    color: #000;
    font-family: 'AllerReg', sans;
    font-weight: 300;
    font-style: normal;
    font-size:10pt;
    text-align: center;	
    width: 100%;
    margin-left: 0px;
}

h1,h2,h3,h4{
    font-family:'RicassoRegular';
    color: #616161;
    font-weight: normal;
    font-style: normal;
}


h1{
    font-size: 3em;
}

h2{
    font-size: 2.25em;
}

h3{
    font-size: 1.7em;
}


h4{
    font-size: 1.5em;
}

figure {
    margin-left: 0px;
    margin-right: 0px;
}

img {
    width: 100%;
}

figcaption {font-size: 1.0em!important;;}


p, ul {font-size: 1.5em;}


a, a:visited {
    color: #616161;
    text-decoration: underline;
}

td{
    display: table-cell;
    vertical-align:top;
    width:50%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

span.en{color: #616161;}



p.gototop{
font-size: 2.5em;
cursor: pointer; cursor: hand;
    text-align: center!important;;
}


/* section wrappers */

div.content-text{
    padding-top: 50px;
    padding-bottom: 100px;
}

div.content{
    font-size: 1.2em;
    line-height: 1.5em;
    width: 70%;
    margin: 0px auto;
    text-align:center;
}


/*header menu*/

div.header#top-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: none repeat scroll 0% 0% #fff;
    z-index: 2;
    border-bottom: 0.08em solid black; /* To become random color */
    font-family:'RicassoRegular';
    font-size: 1.5em;
}

div.header#top-header  a,a:visited {border-bottom: none !important; }

div.header#wrap {
    position: relative;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

ul.header-menu {
    margin-left: 30px;
}

li.header-menu { 
    display: inline;
    margin: 10px;
    font-family: 'RicassoRegular';
}

li.header-separator{
    color: black;
    display: inline;
    margin: 10px;
}

.header ul {
    font-size: 1.0em;
}

a.header-menu, a.header-menu:visited {
    color: #000;
    text-decoration: none;
    border-bottom: none;
}


h1#header {
    /*! color: #666464; */
    font-size: 3em;
    font-weight: bold;
}

/* logo section */

div.content-logo{
    margin-top:150px;
    margin-bottom:400px;
}

img.content-logo{
    width:350px;
    max-width:400px;
    height:auto;
}


/* about section */

div#about-menu { 
    padding-top:50px;    
    padding-bottom:100px;    
    background-color: rgb(248, 248, 248);
}

div#about-menu p {
    line-height: 1.5em;
    color:#616161;     
    text-align: left;
}

/* work sections */


div.work {margin-bottom: 100px;}

div.work * {
    text-align: left;
}

div.work * {
    color: #616161;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5em;
}



h2.year{
    font-size: 1.8em;
    font-weight: normal;
    font-family: 'RicassoRegular';
}

div.work h1, h2, h3, h4 {    
    font-family: 'AllerReg', sans;
    font-weight: bold;
}

div.work h1 {
    font-size: 1.9em;
    font-weight: normal;
    margin-top: 2em;
    /*! margin-bottom: 1.5em; */
}

div.work h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 2em;
}


div.work  ul { 
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 20px;
    list-style-position: outside!important;
    list-style-type:  "× ";!important;
    /*! padding-bottom: 2em; */
    /*! padding-top: 2em; */
}

div.work li { line-height: 1.7em;/*! margin-bottom: 0.7em; */}



/* contact */ 
#contact-menu {
    color: #616161;
}

p#contact{
    padding-top: 20px;
}

/* contact section */
div#contact-menu { 
padding-top:50px;    
padding-bottom:10px;    
background-color: rgb(248, 248, 248);
}


/* credits */

div.credits{
    font-size:0.8em;
    line-height: 1.0em;
    padding-top:40px;
}




