{% extends "base.html" %}

{% block head %}
<title>{{ title }}</title>
<meta content-type="text/html" charset="UTF-8" />
{{ metatags }}
<script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>

<link rel="stylesheet" 
href="../static/style.css" 
type="text/css" media="screen" />

<script type="text/javascript" src='../static/script.js'></script>

{% endblock %}


{% block body %}
<!-- menu -->
<div class="header" id="top-header">
  <div class="header" id="wrap">
	<nav class="header-menu">
	  <ul class="header-menu">
  		{% for section in sections %}	
	    <li class="header-menu">
			<span class="random"> / </span>
			<a id="{{section}}" href="#" class="header-menu">
				<span class="en">{{section|upper}}</span>
			</a>
			<span class="random"> / </span>
        </li>
        {% endfor %}
      </ul>
    </nav>      
</div>
</div>


<!-- header -->
<header>
	<div class="content-logo">
		<h1 id="header">André Castro</h1>
		<!-- ADD IMAGE-->
	</div>
</header>

<!--Sections -->
{% set cache = namespace(year=false) %}
{% for section in sections %}	
<div class="content-text" id="{{ section }}-menu">	
  <div class="content">	
	<h1><span class="en">{{ section | capitalize}}</span></h1>

	{% for page in pages_list %}

		{% if section in page.section %} {# pages that match section #}
			{% if section == 'work' %}

				{# only 1 h2.year tag per year#}
				{% if cache.year == False or page.year != cache.year %}
					<h2 class="year" id="year{{page.year}}">{{ page.year }}</h2>

					{% set cache.year = page.year %}

				{% endif %}
				<div class="work">
					{{ page.output_content|safe }}
					 
					{% if page.imgs_in_page %}
						{% for imgvals in page.imgs_in_page.values()  %}

							{% set ext = imgvals.url.split('.')[-1] %}

							{% if ext in ['mp4', 'ogv', 'webm'] %}
								<video controls="controls">
									<source src="{{ imgvals.url }}" type="video/{{ext}}" />
								</video>
							{% elif ext in ['mp3', 'ogg'] %}
								<audio controls="controls">
									<source src="{{ imgvals.url }}" type="audio/{{ext}}" />
								</audio>
							{% else%}
								<figure>
									<img src="{{ imgvals.url }}" />
									<figcaption>{{ imgvals.caption}}</figcaption>
								</figure>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% for yt_id in page.youtube %}
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{yt_id}}" frameborder="0" allowfullscreen></iframe>
					{% endfor %}

				</div>
			{% else %}

				{{ page.output_content|safe }}
			
			{% endif %}	
		{% endif %}	
	{% endfor %}
  <p class="gototop">▲</p>
  </div>
</div>
{% endfor %}

<!-- footer -- >
<div id="space">	
<div class="logos-bottom">
    <a class="logos-bottom" href="http://oooooooooo.io/"  target="_blank"><img class="logos-bottom" src="socialmedia/wiki.png" alt="wiki"/></a>
	<a class="logos-bottom" href="https://www.linkedin.com/company/ilidio-matos-literary-agency" target="_blank"><img class="logos-bottom" src="socialmedia/linkedin_white.png" /></a>
  </div>
</div>

{% endblock%}