
    <meta name="description" content="{{description}}" />
    <meta name="author" content="{{author}}" />
    <meta name="application-name" content="{{author}}" />
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="{{author}}" />
    <meta property="og:image" content="{{imgurl}}"/> 
    <meta property="og:url" content="{{url}}"/>
    <meta property="og:description" content="{{shortdescription}}" /> 
